.about{
    background-color: rgb(234, 250, 255);
    padding: 80px 40px 40px 40px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span{
        color: blue;
    }
    div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
        section{
            border: 1px solid #cacaca;
            display: flex;
            flex-direction: column;
            width: 45%;
            padding: 20px;
            text-align: center;
            box-shadow: 0 0 10px rgb(17, 17, 17, .5);
            img{
                height: 300px;
                margin-bottom: 20px;
            }
        }
    }
}